<%= render 'shared/carousel' %>

<div class="container description">
  <div class="row">
    <div class="col-md-4">
     <strong>Make it</strong>
     <p>Our pantry is stocked with 500 million bites of inspiration to help guide you from inspiration to celebration with your next kitchen creation.</p>
    </div>

    <div class="col-md-4">
      <strong>Love it</strong>
      <p>Did you make it? Love it! Then pass it on. Post recipes, photos, reviews, I made its, collections and more telling your food tribe about your latest mouthwatering masterpiece.</p>
    </div>

    <div class="col-md-4">
      <strong>Share it</strong>
      <p>Sharing foods you crave and following the cooks you love helps us to feed your feed with lots of recipe awesomeness handpicked just for you.</p>
    </div>
  </div>
</div>

<div class="discover">
  <h2>Cooking Smarter. Together.</h2>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h4><strong>VietRecipe</strong> is the original and largest food-focused social network created for cooks by cooks; where everyone plays a part in helping cooks discover and share the joy of home cooking</h4>
        <%= link_to "DISCOVER", signup_path, class: "btn btn-success btn-xlarge" %>
      </div>
    </div>
  </div>
</div>
