/* ==================== Import Bootstrap ===================== */
@import "bootstrap-sprockets";
@import "bootstrap";

/* ==================== Style for Global ===================== */
html, body {
  height: 100%;
  margin: 0;
}

.wrapper {
  min-height: 100%;
  margin-bottom: 55px; /* height of footer */
}

/* ==================== Override Styles ===================== */
.navbar {
  margin-bottom: 0 !important;
  border-radius: 0;
}

.navbar-default {
  background-color: #2ecc71 !important;
  border-color: transparent ;
}

.navbar-nav li a {
  color: #fff !important;
  font-size: 14px;
}

.dropdown-menu li a {
  color: #34495e !important;
}

.dropdown-menu li a:hover {
  background-color: #2ecc71 !important;
  color: #fff !important;
}

.btn-xlarge, .footer {
  background-color: #2ecc71 !important;
}

/* ================== Style for Navigation ================== */
#logo {
  text-transform: uppercase;
  color: #fff;
  word-spacing: 1px;
  font-weight: 350;
}
/* =================== Style for Carousel =================== */
.carousel {
  margin-bottom: 30px;
}

/* ============ Style for Description in Homepage =========== */
.description p {
  color: #95a5a6;
  text-align: justify;
  font-size: 15px;
}

.description strong {
  text-transform: uppercase;
  font-size: 20px;
}

/* =================== Style for Footer =================== */
.footer p {
  color: #fff;
  text-align: center;
  padding-top: 15px;
}

.footer {
  min-height: 55px;
  width: 100%;
}

/* ================== Style for Back to Page ================ */
.back-link a:link,
.back-link a:visited {
  color: #2ecc71;
}

.back-link a:hover,
.back-link a:active {
  color: #2ecc71;
  text-decoration: none;
  font-weight: 500;
}

/* ================== Style for Homepage =================== */

.discover {
  text-align: center;
  background-color: #212121;
  height: 200px;
  width: 100%;
}

.discover h2 {
  color: #2ecc71;
  padding-top: 20px;
  font-weight: bold;
}

.discover h4 {
  color: #fff;
  font-weight: 300;
}

