/* ==================== Import Bootstrap ===================== */
@import "bootstrap-sprockets";
@import "bootstrap";

/* ==================== Override Styles ===================== */
.navbar {
  margin-bottom: 0 !important;
  border-radius: 0;
}

.navbar-default {
  background-color: #2ecc71 !important;
  border-color: transparent ;
}

.navbar-nav li a {
  color: #fff !important;
  font-size: 14px;
}

.dropdown-menu li a {
  color: #34495e !important;
}

.btn-xlarge, .footer {
  background-color: #2ecc71 !important;
}

/* ================== Style for Navigation ================== */
#logo {
  text-transform: uppercase;
  color: #fff;
  word-spacing: 1px;
  font-weight: 350;
}
/* =================== Style for Carousel =================== */
.carousel {
  margin-bottom: 30px;
}

/* ============ Style for Description in Homepage =========== */
.description p {
  color: #95a5a6;
  text-align: justify;
  font-size: 15px;
}

.description strong {
  text-transform: uppercase;
  font-size: 20px;
}

/* =================== Style for Footer =================== */
.footer p {
  color: #fff;
  text-align: center;
  padding-top: 15px;
}

.back-link a:link,
.back-link a:visited {
  color: #2ecc71;
}

.back-link a:hover,
.back-link a:active {
  color: #2ecc71;
  text-decoration: none;
  font-weight: 500;
}


